@using Ejercicio1Ud7.Models.Entidades;
@model List<Ejercicio1Ud7.Models.Entidades.Persona>


<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
        </tr>
    </thead>

    @* @{
        for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].Nombre</td>
                <td>@Model[i].Apellidos</td>
            </tr>
        }
    } *@

    @{
        foreach (Persona persona in Model)
        {
            <tr>
                <td>@persona.Nombre</td>
                <td>@persona.Apellidos</td>
            </tr>
        }
    }
</table>

@Html.ActionLink("Volver a Index", "Index")
